Olá <strong>{{student}}</strong>
<br />
  <p>
    Sua dúvida enviada através do app GymPoint foi respondida por um de nossos profissionais
    <br />
    <div style="border: 1px solid black;">
      Pergunta: <strong>{{question}}</strong>
      <br />
      Resposta: <i>{{answer}}</i>
    </div>
  </p>

  <small>Caso a dúvida ainda persista, por favor entre em contato diretamente com um de nossos profissionais</small>
<br />
